<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leon Pahole | {{ page.title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
                                 maximum-scale=1.0, user-scalable=no"
    />
    <script
      src="https://kit.fontawesome.com/2568280276.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    {% if page.url != "/" %}
    <div class="header-navigation-container">
      <h2 class="navigation-title">
        <a href="index.html" class="title-link">Leon Pahole</a>
      </h2>
      <ul class="item-container">
        {% for item in site.data.navigation %}
        <li class="menu-item {% if page.url == item.link %}selected{% endif %}">
          <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="site-content site-content-no-margins">
      {{ content }}
    </div>
  </body>
</html>
