<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leon Pahole | {{ page.title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
                                 maximum-scale=1.0, user-scalable=no"
    />
    <script
      src="https://kit.fontawesome.com/2568280276.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    <div class="site-content site-content-no-margins">
      {{ content }}
    </div>
  </body>
</html>
